<div class="container-main">

<div class="container-title">
  <label class="title-main"> Listado de Tareas </label>
  <div class="title-underline"></div>
</div>

<div class="container-body">
  <div class="container-buttons">
    <button class="element-button element-button--add" (click)="addTask()">Añadir (+)</button>
  </div>

  <ul class="container-list">
    <li class="list-elements" *ngFor="let task of taskList; index as i" >
        <div class="elements-element">
          <div class="element-box">
            <input type="text" class="element-name" [(ngModel)]="task.titulo">
          </div>
          <div class="element-buttons">
            <button class="element-button element-button--modify" (click)="editTask(task)">Editar </button>
            <button class="element-button element-button--delete" (click)="deleteTask(i)">Eliminar </button>
          </div>
        </div>
    </li>
  </ul>
</div>


</div>
