<div class="container-main">

<div class="container-title">
  <label class="title-main"> Listado de Tareas </label>
</div>

<div class="container-body">
<!--   <div class="container-buttons">
    <input type="text" class="buttons-button--add">
    <input type="text" class="buttons-button--modify">
    <input type="text" class="buttons-button--delete">
  </div> -->
  <ul class="container-list">
    <li class="list-elements">
        <div class="elements-element">
          <div class="element-box">
            <label class="element-name"> Tarea de Prueba</label>
          </div>
          <div class="element-buttons">
            <button class="element-button--add">Añadir </button>
            <button class="element-button--modify">Editar </button>
            <button class="element-button--delete">Eliminar </button>
          </div>
        </div>
    </li>
  </ul>
</div>


</div>
